$light_gray: #7f7f7f;

* {
  font: {
    family: Arial;
    size: 14px;
  }
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.wrapper {

  table#header_content {
    width: 100%;
    padding: 15px 0;


    .header td {
      width: 650px;
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 11px;
    }

    .display_error {

      a {
        font-size: inherit;
        text-decoration: none;
        color: inherit;
      }

      td {
        width: 650px;
        padding: 15px 0 45px 0;
        display: block;
        color: $light_gray;
        font-size: 10px;
        text-align: center;
        margin: 0 auto;
      }
    }

    .header_icons {
      width: 650px;
      display: block;
      margin: 0 auto;
      td.gt_logo {
        display: inline-block;
        img {
          width: 280px;
        }
      }
      td.nw_logo {
        display: inline-block;
        width: 300px;
        float: right;

        a {
          float: right;
          display: inline-block;
          margin-left: 10px;
          height: 28px;


        }

        img {
            height: 100%;
        }
      }
    }
  }

  table#body_content {
    text-align: center;
    height: 1225px;
    background-color: #eefafa;
    width: 100%;
    padding-top: 30px;
    background-image: url("../images/background_golf.png");
    background-repeat: no-repeat;
    background-position: 55% 30px;

    .header_content {
      //height: 238px;
      vertical-align: top;
      width: 650px;
    }

    .header_content td.date_content {
      display: block;
      width: 650px;
      margin: 0 auto;
      text-align: right;


      img {
        display: block;
      }

      span {
        width: 326px;

        display: block;
        //float: right;
        color: #87b51a;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 15px;

        sup {
          font-size: 10px;
        }
      }
    }

    .main_content {
      vertical-align: bottom;
      width: 650px;
      height: 225px;

      td:first-child {
        width: 650px;
        display: block;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
        line-height: 18px;

        img {
          display: block;
          margin: 15px auto;
        }

        p {
          font-weight: 400;
          width: 650px;
        }
      }
    }

    .button_inscription {
      text-align: center;
      vertical-align: bottom;
      position: relative;
      height: 75px;

      td {
        //width: 100%;
        display: block;
        width: 650px;
        margin: 0 auto;
        position: relative;
      }

      a {
        display: block;
        margin: 0 auto;
        width: 225px;
        line-height: 44px;
        text-align: center;
        background-color: #73b331;
        color: white;
        text-decoration: none;
      }

      img {
        position: absolute;
        right: 0;
        height: 44px;
        bottom: 0;
      }
    }
  }

  table#footer_content {
    width: 650px;
    padding: 30px 0;
    margin: 0 auto;

    .partnership {
      text-align: center;


      td {
        font-size: 12px;
        text-transform: uppercase;
        padding-bottom: 25px;


      }
    }

    .img_partnership {
      img {
        width: 100%;
      }
    }

    .mediaship {
      text-align: center;
      text-transform: uppercase;
      td {
        font-size: 12px;
        display: block;
        margin: 25px 0;
      }
    }
    
    .img_mediaship {
      td {
        text-align: center;
      }
      img {
        width: 295px;
      }
    }
  }

  .seperator {
    margin: 0 auto;
    height: 1px;
    background-color: #d2d2d2;
  }

  table#noreply_content {

    width: 100%;

    tr {
      vertical-align: middle;
      text-align: center;
      td {
        font-size: 10px;
        width: 100%;
        display: block;
        margin: 0 auto;
        line-height: 80px;
        color: $light_gray;
      }
    }
  }

}