* {
  font-family: Arial;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.wrapper table#header_content {
  width: 100%;
  padding: 15px 0; }
  .wrapper table#header_content .header td {
    width: 650px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 11px; }
  .wrapper table#header_content .display_error a {
    font-size: inherit;
    text-decoration: none;
    color: inherit; }
  .wrapper table#header_content .display_error td {
    width: 650px;
    padding: 15px 0 45px 0;
    display: block;
    color: #7f7f7f;
    font-size: 10px;
    text-align: center;
    margin: 0 auto; }
  .wrapper table#header_content .header_icons {
    width: 650px;
    display: block;
    margin: 0 auto; }
    .wrapper table#header_content .header_icons td.gt_logo {
      display: inline-block; }
      .wrapper table#header_content .header_icons td.gt_logo img {
        width: 280px; }
    .wrapper table#header_content .header_icons td.nw_logo {
      display: inline-block;
      width: 300px;
      float: right; }
      .wrapper table#header_content .header_icons td.nw_logo a {
        float: right;
        display: inline-block;
        margin-left: 10px;
        height: 28px; }
      .wrapper table#header_content .header_icons td.nw_logo img {
        height: 100%; }

.wrapper table#body_content {
  text-align: center;
  height: 1225px;
  background-color: #eefafa;
  width: 100%;
  padding-top: 30px;
  background-image: url("../images/background_golf.png");
  background-repeat: no-repeat;
  background-position: 55% 30px; }
  .wrapper table#body_content .header_content {
    vertical-align: top;
    width: 650px; }
  .wrapper table#body_content .header_content td.date_content {
    display: block;
    width: 650px;
    margin: 0 auto;
    text-align: right; }
    .wrapper table#body_content .header_content td.date_content img {
      display: block; }
    .wrapper table#body_content .header_content td.date_content span {
      width: 326px;
      display: block;
      color: #87b51a;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 15px; }
      .wrapper table#body_content .header_content td.date_content span sup {
        font-size: 10px; }
  .wrapper table#body_content .main_content {
    vertical-align: bottom;
    width: 650px;
    height: 225px; }
    .wrapper table#body_content .main_content td:first-child {
      width: 650px;
      display: block;
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
      line-height: 18px; }
      .wrapper table#body_content .main_content td:first-child img {
        display: block;
        margin: 15px auto; }
      .wrapper table#body_content .main_content td:first-child p {
        font-weight: 400;
        width: 650px; }
  .wrapper table#body_content .button_inscription {
    text-align: center;
    vertical-align: bottom;
    position: relative;
    height: 75px; }
    .wrapper table#body_content .button_inscription td {
      display: block;
      width: 650px;
      margin: 0 auto;
      position: relative; }
    .wrapper table#body_content .button_inscription a {
      display: block;
      margin: 0 auto;
      width: 225px;
      line-height: 44px;
      text-align: center;
      background-color: #73b331;
      color: white;
      text-decoration: none; }
    .wrapper table#body_content .button_inscription img {
      position: absolute;
      right: 0;
      height: 44px;
      bottom: 0; }

.wrapper table#footer_content {
  width: 650px;
  padding: 30px 0;
  margin: 0 auto; }
  .wrapper table#footer_content .partnership {
    text-align: center; }
    .wrapper table#footer_content .partnership td {
      font-size: 12px;
      text-transform: uppercase;
      padding-bottom: 25px; }
  .wrapper table#footer_content .img_partnership img {
    width: 100%; }
  .wrapper table#footer_content .mediaship {
    text-align: center;
    text-transform: uppercase; }
    .wrapper table#footer_content .mediaship td {
      font-size: 12px;
      display: block;
      margin: 25px 0; }
  .wrapper table#footer_content .img_mediaship td {
    text-align: center; }
  .wrapper table#footer_content .img_mediaship img {
    width: 295px; }

.wrapper .seperator {
  margin: 0 auto;
  height: 1px;
  background-color: #d2d2d2; }

.wrapper table#noreply_content {
  width: 100%; }
  .wrapper table#noreply_content tr {
    vertical-align: middle;
    text-align: center; }
    .wrapper table#noreply_content tr td {
      font-size: 10px;
      width: 100%;
      display: block;
      margin: 0 auto;
      line-height: 80px;
      color: #7f7f7f; }
